<template>
  <div class="home">
    <h1>titulo</h1>
    <ul class="list-group" v-for="product in products" :key="product._id">
      <li @click="productDetails(product._id)"><productsList :details="product" class="hover"></productsList></li>
    </ul>
  </div>
</template>

<style>
.hover {
  cursor: pointer;
}
</style>

<script>
// @ is an alias to /src
import { productList } from '../services/Products.service';
import productsList from "../components/products.vue";

export default {
  name: 'HomeView',
  components:{
    productsList
  },
  data() {
    return{
      products: [],
    }
  },
  mounted(){
    this.getProducts();
  },
  methods: {
    async getProducts(){
      const response = await productList();
      console.log(response.data);
      this.products = response.data;
    },
    productDetails(id){
      this.$router.push({name: "details", params:{id}});
    }
  }
}
</script>
