<template>
  <div>
    <h1>detalle</h1>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <productDet :details="product"></productDet>
    </div>
  </div>
</template>

<script>
import { productList } from "../services/Products.service";
import productDet from "../components/productDet.vue";

export default {
  name: "ProductDetails",
  components: {
    productDet,
  },
  props: {
    id: String,
  },
  data() {
    return {
      product: [],
    };
  },
  methods: {
    mostrar() {
      console.log(this.id);
    },
    async getProduct() {
      const response = await productList();
      response.data.forEach((p) => {
        if (p._id === this.id) {
          this.product = p;
          console.log(p);
        }
      });
    },
  },
  mounted() {
    this.getProduct();
  },
};
</script>
