<template>
  <div class="center">
    <div class="card" style="width: 18rem" v-if="details">
      <h1 class="card-text">{{ details.name }}</h1>
      <div v-for="image in details.images" :key="image">
        <img :src="image" class="card-img-top" alt="" />
      </div>
      <p class="card-text">creacion: ${{ details.createdAt }}</p>
      <p class="card-text">{{ details.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductDet",
  props: {
    details: Object,
  },
};
</script>
