<template>
  <div class="container">
    <div class="card" style="width: 18rem" v-if="details">
      <div class="card-body">
        <h5 class="card-title">{{ details.name }}</h5>
        <img :src="details.images[0]" class="card-img-top" alt="" />
        <p class="card-text">creacion: ${{ details.createdAt }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductList",
  props: {
    details: Object,
  },
};
</script>
